html,
body {
  background-color: #0b0a0f;
}

::-webkit-scrollbar {
  width: 2px;
    height: 5px;
  /* background-color: #F5F5F5; */
}

::-webkit-scrollbar-thumb {
  background-color: #1d1d29;
    height: 2px;
}



.cursor {
  cursor: pointer;
}